/Sw2015FileReader.Net/.nuget
/Sw2015FileReader.Net/packages
/Sw2015FileReader.Net/Sw2015FileReader/bin
/Sw2015FileReader.Net/Sw2015FileReader/obj
/Sw2015FileReader.Net/Sw2015FileReaderCli/bin
/Sw2015FileReader.Net/Sw2015FileReaderCli/obj
/Sw2015FileReader.Net/Sw2015FileReaderGui/bin
/Sw2015FileReader.Net/Sw2015FileReaderGui/obj
/Sw2015FileReader.Net/Sw2015FileReaderUnitTest/bin
/Sw2015FileReader.Net/Sw2015FileReaderUnitTest/obj
/io.github.swmodelreader/.settings
