/SwModelReader.Net/.nuget
/SwModelReader.Net/packages
/SwModelReader.Net/SwModelReaderCore/bin
/SwModelReader.Net/SwModelReaderCore/obj
/SwModelReader.Net/SwModelReaderCli/bin
/SwModelReader.Net/SwModelReaderCli/obj
/SwModelReader.Net/SwModelReaderGui/bin
/SwModelReader.Net/SwModelReaderGui/obj
/SwModelReader.Net/SwModelReaderUnitTest/bin
/SwModelReader.Net/SwModelReaderUnitTest/obj
/io.github.swmodelreader/.settings
